.adminDashboard{
    border-radius: 20px;
    width: 100%;
    background-color:white;
    display: block;
    height: 100vh;
}
.adminDashboard ul li{
    width: 100%;
}
.adminDashboard ul li a{
    color:black;
}